*{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    position: relative;
  }
.hero{
    height: 100%;
    width: 100%;
    background:url(mountain.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 320px;
    height: 450px;
    position: relative;
    margin: 6% auto;
    background: #ffffff6f;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 0 30px #333;
}
.button-box{
    width: 220px;
    margin: 45px;
    position: relative;
    box-shadow: 0 0 5px 5px  rgb(108, 218, 237);
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient( to right,  rgb(36, 202, 240), rgb(24, 176, 199));
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    margin: 25px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 10px;
    box-shadow: 0 0 30px 0 #5d59593d;
    cursor: pointer;
    border-radius: 50%;
}

.social-icons img:hover{
    transform: scale(1.25);
    box-shadow: 0 0 30px  rgb(142, 235, 249);
}

.input-group{
    top: 180px;
    position: absolute;
    width: 250px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.705);
    outline: none;
    background: transparent;
}

.show {
    position: absolute;
    top: 70px;
    right: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.show::before {
    content: "show";
    font-size: 10px;
    color: white;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.show.hide::before {
    content: "Hide";
}
.show1 {
    position: absolute;
    top: 120px;
    right: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.show1::before {
    content: "show";
    font-size: 10px;
    color: white;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.show1.hide::before {
    content: "Hide";
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient( to right, rgb(36, 202, 240), rgb(24, 176, 199));
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.submit-btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgb(142, 235, 249);
}
.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color:  #1da9c0;;
    font-size: 14px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#signup{
    left: 450px;
}
 



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#1da9c0 ;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;

}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn span{
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);

}

.header .logo i{
    color: var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--green);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background:#eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    font-size: 4.5rem;
    color:var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}







@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:.2rem;
    }

    section{
        
    }
}

@media (max-width:768px){

    #menu-btn{
        display:initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius:  .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background:#fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;

    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
/* footer 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #1da9c0;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: white;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: white;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: rgba(0, 0, 0, 0.705);
	background-color: white;
}*/

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
